# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/

# Visual Studio user-specific files
*.suo
*.user
.vs/

# Visual Studio
[Bb]uild/
[Dd]eploy/
*.log
*.pfx
[Tt]humbs.db
[Nn]oname.*

# NuGet package directory
# these should be required in .csproj file to download
# so won't be included 
packages/
*.nupkg